<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>HACKS</title>
  </head>
  <body>
    <div class="main-res">
      {% for word in content %}
      <div>{{word}}</div>
      {% endfor %}
    </div>
    <form action="{{ url_for('hm_pg')}}" method="get">
      <button type="submit" class="rel btn--sbm"><=</button>
    </form>
  </body>
</html>
